body {
    font-family: "Alfa Slab One", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faffff; /* Fondo del cuerpo */
    overflow: hidden; /* Evita el scroll horizontal */
}

header {
    display: flex;
    flex-direction: column; /* Cambia a columna para alinear elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 10px 10%; /* Ajuste de padding */
    background-color: #cf1022; /* Color de fondo del header */
}

.icon {
    width: 200px; /* Ajusta el tamaño del logo según sea necesario */
}

nav {
    display: flex;
    justify-content: space-evenly;  /* Espacia los elementos del nav para ocupar todo el ancho */
    width: 100%;  /* Asegura que el nav ocupe todo el ancho del header */
}
nav i {
    font-size: 1.5em; /* Tamaño del ícono */
    color:#fbbf00;
}

.buscar {
    border-radius: 20px; /* Bordes redondeados */
    border: 1px solid #faffff; /* Borde ligero */
    padding: 10px 15px; /* Espaciado interior */
    margin-right: 10px; /* Espacio a la derecha del input */
    width: 50em; /* Ancho del input */
}

button {
    color: #000000; /* Color del texto */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interior */
    margin-left: 10px; /* Espacio entre los botones */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 1em; /* Ajusta el tamaño de la fuente */
    background-color: #fbbf00; /* Color de fondo */
}

/* Estilos específicos para el botón de registro */
#registrar {
    background-color: #faffff; /* Color de fondo de 'Registrarse' */
}

/* Estilos específicos para el botón de iniciar sesión */
#iniciar {
    background-color: #fbbf00; /* Color de fondo de 'Iniciar sesión' */
}

.container {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    padding: 3em;
    width: calc(100% - 20%); /* Deja espacio para el sidenav que ocupa el 20% */
    box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho */
    overflow-y: auto; /* Habilita el scroll si es necesario */
    max-height: calc(100vh - 122px); /* Ajusta la altura máxima del contenedor */
    -ms-overflow-style: none; /* Oculta la barra en Internet Explorer */
    scrollbar-width: none; /* Oculta la barra en Firefox */
}

/* Para mostrar el scrollbar en otros navegadores */
.container::-webkit-scrollbar {
    display: none; /* Oculta la barra en Chrome y Safari */
}

.cards {
    flex-grow: 1; /* Cambiado de 1em a 1 para flex-grow */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.card {
    width: 18%; /* Ancho fijo */
    aspect-ratio: 4 / 5; /* Proporción de 3:4 (ancho:alto) */
    background-color: #fbbf00;
    color: #faffff;
    border-radius: 8px;
    padding: 1em;
    display: flex; /* Añadir flexbox */
    flex-direction: column; /* Asegura que los elementos se apilen en columna */
    text-align: left; /* Centra el texto */
    font-size: 1.2em;
    overflow: hidden; /* Evita que el contenido desborde el card */
}


.card img {
    width: 98%;
    height: auto;
    margin: 0 auto; /* Asegura el centrado horizontal de la imagen */
}

.card h2 {
    color: #cf1022;
    margin: 5px 0;
    font-style: italic; /* Cambia el texto a cursivo */
    font-weight: normal; /* Asegura que no esté en negrita */
}

.card p {
    display: flex;
    align-items: center;
    margin-top: 0.8em;
}

.card p i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
    font-size: 1.2em; /* Tamaño del ícono */
}

.sidecard {
    width: 70%;
    height: auto;
    background-color: #faffff;
    border-radius: 8px;
    padding: 1em;
    margin: 0.5em;
}

.sidenav {
    position: fixed;
    top: 177px; /* Inicia justo después del header */
    right: 0;
    height: calc(100vh - 177px); /* Calcula la altura restante después del header */
    width: 20%;
    border-left: 10px solid #fbbf00; /* Border color and thickness */
    background-color: #cf1022; /* Background color */
    padding: 1em;
    text-align: left;
    font-size: small;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    display: flex; /* Utiliza flexbox para la alineación */
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: flex-start; /* Comienza desde la parte superior */
    overflow-y: auto; /* Habilita el scroll en la barra derecha */
    -ms-overflow-style: none; /* Oculta la barra en Internet Explorer */
    scrollbar-width: none; /* Oculta la barra en Firefox */
}

.sidenav::-webkit-scrollbar {
    display: none; /* Oculta la barra en Chrome, Safari y Opera */
}

.sidecard h3 {
    color: #000000;
    font-size: larger;
    text-align: left; /* Unificado a un solo texto alineado a la izquierda */
    font-weight: normal; /* Asegura que no esté en negrita */
}

.sidecard h2 {
    font-size: large;
    color: #fbbf00;
    text-align: left; /* Unificado a un solo texto alineado a la izquierda */
    font-style: italic;
    font-weight: normal; /* Asegura que no esté en negrita */
}

.sidecard-item {
    background-color: #cf1022;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: small;
}
