@import url('login.css');

body {
    margin: 0;
    padding: 0;
    font-family: "Alfa Slab One", Arial, sans-serif;
    background-color: #faffff;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "main sidenav";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 20%;
    height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5%;
    background-color: #e61227;
    z-index: 1000;
}

.sidenav {
    grid-area: sidenav;
    background-color: #cf1022;
    border-left: 10px solid #fbbf00;
    padding: 1em;
    text-align: left;
    font-size: small;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

main {
    grid-area: main;
    padding: 1em;
    overflow-y: auto;
}

.icon {
    width: 160px;
}

.buscar {
    border-radius: 15px;
    border: 1px solid #faffff;
    padding: 10px 15px;
    margin-right: 10px;
    width: 50em;
}

.container {
    display: flex;
    justify-content: flex-start;
    padding: 3em;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: calc(100vh - 122px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.container-3cuartos {
    display: flex;
    justify-content: flex-start;
    padding: 3em;
    width: calc(100% - 20%);
    box-sizing: border-box;
    overflow-y: auto;
    max-height: calc(100vh - 122px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-3cuartos-pantalla::-webkit-scrollbar {
    display: none;
}

.cards {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.card, .card-encamino {
    max-width: 13em;
    height: max-content;
    background-color: #fbbf00;
    color: #faffff;
    border-radius: 8px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.2em;
    overflow: hidden;
}

.card-encamino {
    background-color: #999999;
    color: #faffff;
}

.card img {
    width: 98%;
    height: auto;
    margin: 0 auto;
}

.card h2 {
    color: #cf1022;
    margin: 5px 0;
    font-style: italic;
    font-weight: normal;
}

.card p {
    display: flex;
    align-items: center;
    margin-top: 0.8em;
}

.card p i {
    margin-right: 8px;
    font-size: 1.2em;
}

.sidecard {
    width: 70%;
    height: auto;
    background-color: #faffff;
    border-radius: 8px;
    padding: 1em;
    margin: 0.5em;
}

.sidecard h3 {
    color: #000000;
    font-size: larger;
    text-align: left;
    font-weight: normal;
}

.sidecard h2 {
    font-size: large;
    color: #fbbf00;
    text-align: left;
    font-style: italic;
    font-weight: normal;
}

.sidecard-item {
    background-color: #cf1022;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: small;
}